@font-face {
  font-family: "iconfont"; /* Project id 3871343 */
  src: url("//at.alicdn.com/t/c/font_3871343_cx41baaujbc.woff2?t=1679314107840") format("woff2"),
    url("//at.alicdn.com/t/c/font_3871343_cx41baaujbc.woff?t=1679314107840") format("woff"),
    url("//at.alicdn.com/t/c/font_3871343_cx41baaujbc.ttf?t=1679314107840") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e677";
}

.icon-photo:before {
  content: "\e618";
}

.icon-delete:before {
  content: "\e65b";
}

.icon-back2:before {
  content: "\e60f";
}

.icon-back:before {
  content: "\e608";
}

.icon-share:before {
  content: "\e660";
}

.icon-wenhao:before {
  content: "\e610";
}

.icon-confuse:before {
  content: "\e614";
}

.icon-point2:before {
  content: "\e698";
}

.icon-point:before {
  content: "\e60c";
}

.icon-down:before {
  content: "\ea66";
}

.icon-edit:before {
  content: "\e600";
}

.icon-locate:before {
  content: "\e8ff";
}

.icon-pan:before {
  content: "\e603";
}

.icon-layer:before {
  content: "\e612";
}

.icon-close:before {
  content: "\eaf2";
}

.icon-left:before {
  content: "\e9d0";
}

.icon-right:before {
  content: "\e9d1";
}

.icon-about:before {
  content: "\e6a1";
}

.icon-location:before {
  content: "\e6b6";
}
